*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4facfe, #00fed4);
}

.container{
    width: 600px;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
    transition: 0.3s ease;
}

.container:hover{
    transform: translateY(-5px);
}

.title{
    font-size: 40px;
    color: #0077ff;
    margin-bottom: 30px;
    font-weight: bold;
}

.info{
    background: #f5f7ff;
    padding: 20px;
    border-radius: 15px;
    margin: 15px 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

h1{
    color: #333;
    font-size: 20px;
}

span{
    color: #6f00ff;
    font-weight: bold;
}